<ion-view view-title="Company">
  <ion-content>
    <ion-list>
      <div class="card">
        <div class="item item-text-wrap">
          <div class="company-logo">
            <img ng-src="./img/{{company.logo}}"/>
          </div>
          <div class="company-name">
             {{company.name}}
          </div>
          <div class="company-location company-meta">
            Location: <span>{{company.location}}</span>
          </div>
          <div class="company-tax company-meta">
            Federal Tax: <span>782930574</span>
          </div>
          <div class="company-bank company-meta">
            Location: <span>7824-42442-4242</span>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
