.company-logo img {
	max-width: 100%;
}

.company-name {
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.company-location {
	
}

.company-meta {
	margin-bottom: 10px;
	span {
		font-size: 0.86em;
		color: #777;
	}
}
